@page "/"
@inject HttpClient Http

<div class="container-fluid rounded">

    <Formation />
    <Goal Goals="@Goals" />
    <Goal Goals="@Goals" />

    <div class="border border-0">
        <br />
        <button class="btn btn-primary" @onclick="GenerateAll">Generate</button>
    </div>
</div>

@code {

    List<CareerGoal> Goals = new();

    protected override async Task OnInitializedAsync()
    {
        Goals = (await Http.GetFromJsonAsync<CareerGoal[]>("https://xgirk.github.io/Data/careergoals.json")).ToList<CareerGoal>();
    }

    private void GenerateAll()
    {
        //SetFormation();
        //SetCareerGoal();
    }
}