@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.marked-blue {
    outline: 2px dashed blue;
}

.marked-green {
    outline: 2px dashed green;
}

.marked-red{
    outline: 2px dashed red;
}

.marked-orange {
    outline: 2px dashed orange;
}

.card {
    min-height: 500px;
    max-height: 500px;
    padding: 0px;
    margin: 0px;
}

.link-input {
    min-width: 400px;
}

.card-header {
    min-height: 70px;
    max-height: 70px;
    padding: 0px;
    margin: 0px;
}

.centered {
    margin: auto;
    text-align: center;
}

.card-body {
    min-height: 300px;
    max-height: 300px;
    vertical-align:middle;
}

.card-footer{
    min-height: 110px;
    max-height: 110px;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }