<div class="uk-card uk-padding-remove centered" style="min-height:350px;max-height:550px;">
    <div class="uk-card-header centered">
        <h2 class="uk-card-title">@CareerGoal?.Name</h2>
    </div>
    <div class="uk-card-body centered">
        <p>@CareerGoal?.Description </p>
        <p>@CareerGoal?.AdvancedDescription </p>
    </div>
    <div class="uk-card-footer centered">
        @if (CareerGoal != null)
        {
            <p>Difficulty : @CareerGoal?.Difficulty </p>
        }
        <button class="uk-button uk-button-primary" @onclick="SetCareerGoal">Generate Career Goal</button>
    </div>
</div>

@code {
    [Parameter]
    public List<CareerGoal> Data { get; set; }
    public CareerGoal CareerGoal { get; set; }

    private void SetCareerGoal()
    {
        CareerGoal = GetRandom(Data);
    }
}